{{ define "main" }}
<main class="flex-grow container mx-auto px-6 py-12 flex items-center justify-center mt-12">
  <div class="text-center max-w-lg">
    <h1 class="contact-heading mb-4">Contact Me</h1>

    <p class="contact-paragraph mb-8">
      <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x64;&#x61;&#x6E;&#x68;&#x65;&#x64;&#x65;&#x6C;&#x73;&#x74;&#x65;&#x69;&#x6E;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;"
        class="contact-email text-blue-600 dark:text-blue-400 hover:underline hover:text-[#005BAA] dark:hover:text-blue-300">Email</a>
      works best. You can also find
      me on <a href="https://bsky.app/profile/cryber.bsky.social"
        class="text-[#0085FF] hover:text-[#005BAA] dark:hover:text-blue-300">Bluesky</a>.
    </p>
  </div>
</main>
{{ end }}