/* Add your own custom styles here */


:root {
  --nav-width: 800px;
  --gap: 2rem;
  --color-bg-dark-page: #17181a;
  --color-bg-dark-header: #464e5a;
}

.content-wrapper {
  @apply w-[calc(var(--nav-width)+var(--gap)*2)] mx-auto;
}

.homepage-menu-item {
  font-size: 2em;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.inconsolata-ft {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.contact-heading {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  font-weight: bold;
}

.contact-paragraph {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  line-height: 1.6;
}

.contact-email {
  font-family: monospace;
  font-size: 1.1em;
}
